.grid-container {
    display: grid;
    grid-template-columns:(minmax(200px, 2fr));
    margin: 20px 100px 20px 100px;
  }
  
  #flowers-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 15px 15px 10px 15px;
    min-width: 450px;
    }
    
  
  .card img {
    width: 450px;
    height: 500px;
    
  }
  
  .card-content {
    padding-left: 10px;
  }
  .card-content p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .card-content h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
   .btn{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(82, 89, 95);
    color: whitesmoke;
    border: 0;
    margin: 0 10px 0 10px;
    text-align: center;
    min-width: 75px;
    font-size: small;
  } 
  hr{
    min-width: 2000px !important;
  }